.nav-header {
  display: flex;
  justify-content: center;
  background-color: #202020;
  /* border-bottom: 1px solid rgb(243, 243, 243); */
  margin: 0px;
}

@media screen and (max-width: 768px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 0px;
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-link {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 15px;
  padding: 8px 16px;
  color: white;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}

.logout-mobile-btn {
  border: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .logout-mobile-btn {
    display: none;
  }
}

.logout-icon {
  width: 24px;
}

.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-menu-item-mobile {
  cursor: pointer;
  color: #64748b;
}

.nav-bar-image {
  width: 24px;
}
.icon {
  font-size: 30px;
}
